h1 {
    font-family: Playfair Display, serif;
    font-size: 40px;
}

.Profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

body {
    background-color: antiquewhite;
}

a:link {
    color: #2C3E50;
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    color: #34495E;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}